button {
	border: none;
	cursor: pointer;
}

.work_nav {
	line-height: 77px;
	padding-left: 50px;
	font-size: 18px;
	color: #010101;
	border-top: 1px solid rgb(195, 195, 195);
	background: white;
}

.work_nav_scroll {
	position: absolute;
	z-index: 1;
	opacity: 0.8;
}

.work_nav i {
	padding-right: 22px;
	font-weight: lighter;
	cursor: pointer;
}

.work_nav i:hover {
	color: #d1ab5f;
}

.work_img,
.work_video {
	display: none;
}

.imgTab ul:first-child {
	display: block;
}

.work_img,.work_video {
	width: 100%;
	border-top: 1px solid rgb(50;50;50);
	border-bottom: 1px solid rgb(50;50;50);
	overflow: hidden;
}

.work_video li {
	float: left;
	position: relative;
	overflow: hidden;
}

.work_img li,
.work_video li {
	/*opacity: 0;*/
	/*margin-top: 100px;*/
	position:relative;
}
.li_div{
	top:100px;
	width:100%;
	height:100%;
	position:absolute;
	opacity:0;
	background:linear-gradient(to top, rgba(5,5,5,0.9) 0%, rgba(63,49,35,0.8) 100%, transparent 80%)
}
.work_video video {
	object-fit: fill;
	width:100%;
	height:100%;
}

.work_img li a {
	display: block;
	width: 100%;
}

.work_img li img {
	width: 100%;
	height:100%;
}

.work_img li {
	width: 959px;
	height: 380px;
	float: left;
	overflow: hidden;
	cursor: pointer;
}

.work_liL {
	border-right: 1px solid rgb(50;
	50;
	50);
	border-bottom: 1px solid rgb(50;
	50;
	50);
}

.work_liR {
	border-right: 1px solid rgb(50;
	50;
	50);
	border-bottom: 1px solid rgb(50;
	50;
	50);
}

.foot {
	width: 100%;
	height:175px;
	overflow:hidden;
}

.ourservice {
	width: 577px;
}

.ourworks {
	width: 586px;
}

.aboutus {
	width: 568px;
}

.work_img img {
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}

.work_img img:hover {
	transform: scale(1.05);
	-ms-transform: scale(1.05);
	/* IE 9 */
	-moz-transform: scale(1.05);
	/* Firefox */
	-webkit-transform: scale(1.05);
	/* Safari 和 Chrome */
	-o-transform: scale(1.05);
}
.imgTab{
	background:white;
}

/*蒙版*/

.meng {
	height: 100%;
	position: fixed;
	z-index: 4;
	/*background: rgb(200, 200, 200);*/
	background:url(../img/bg.png) no-repeat 100% 100%;
	background-size: 100% 100%;
	/*opacity: 0.95;*/
	top: 0;
	left: 0;
	display: none;
}

.meng_con {
	position: absolute;
	width: 800px;
	height: 914px;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -457px;
}

.img_div {
	width: 800px;
	height: 800px;
	background: white;
}

.img_div img {}

.smallimg {
	width: 100%;
	height:100px;
	margin-top: 13px;
	overflow:hidden;
}
.smallimgdiv{
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 14px;
	opacity: 0.5;
	overflow:hidden;
}

.smallimg img {
	height: 100px;
	float: left;
	margin-left: -50%;
	padding-left:50px;
}

.meng_left {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -596px;
	margin-top: -140px;
	width: 41px;
	height: 80px;
	background: url(../img/work_left.png) no-repeat 100% 100%;
	opacity: 0.3;
}

.meng_right {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: 556px;
	margin-top: -140px;
	width: 41px;
	height: 80px;
	background: url(../img/work_right.png) no-repeat 100% 100%;
	opacity: 0.3;
}

.meng_right:hover,
.meng_left:hover {
	opacity: 0.9;
}

.shutdown {
	position: absolute;
	left: 50%;
	top: 50px;
	margin-left: 500px;
	width: 56px;
	height: 56px;
	background: url(../img/work_shutdown.png) no-repeat;
	background-size: 56px 56px;
}

.xuanzhong {
	opacity: 1;
}

.appendimg{
	transition:all 1s ease-in-out;
	-webkit-transition:all 1s ease-in-out;
	-moz-transition:all 1s ease-in-out;
	-o-transition:all 1s ease-in-out;
	opacity:1;
	top:0;
}
.appendimgD{
	transition:all 1s ease-in-out 0.3s;
	-webkit-transition:all 1s ease-in-out 0.3s;
	-moz-transition:all 1s ease-in-out 0.3s;
	-o-transition:all 1s ease-in-out 0.3s;
	opacity:1;
	top:0;
}
